<img src='images/1395596740.jpg'></img>

<p>Анис обыкновенный</p>

<p> Pimpinella anisum</p>

<p> сладкий тмин</p>

<p> Семейство сельдереевые (Apiaceae) или зонтичные (Umbelliferae)</p>

<p>Анис - однолетнее растение с белыми цветами, достигающее метровой высоты, выращиваемое в Азии, Африке, а также в Центральной, Восточной и Южной Европе. Стебли аниса прямостоящие высотой до 30-50 см. Листья длинночерешковые. Соцветие - сложный зонтик с 6-15 лучами. Плоды аниса опушенные, длиной около 5 мм, яйцевидной формы.</p>

<p>Сухие плоды аниса содержат 1,5-3,5% (иногда до 6%) эфирного масла, обладающего характерным ароматом, и 16-28% жирного масла, до 19% белковых веществ, а также сахара, органические кислоты. Главный компонент эфирного масла — анетол (80—90%), кроме того масло аниса содержит анисовый альдегид, анисовую кислоту, а также фурфурол, кофейная и хлоргеновая кислоты.</p>

<p>Анис усиливает действие антибиотиков.</p>

<p>Эфирное масло аниса применяется при простудных и воспалительных заболеваниях, затрагивающих систему дыхания, смягчающим действием, устраняет непродуктивный кашель. Входит в состав всех грудных эликсиров.</p>

<p>Анис оптимизирует пищеварение, устраняет атонию кишечника, запоры и метеоризм. Улучшает желудочную и панкреатическую секрецию, помогает быстро устранить последствия пищевых отравлений, стимулирует моторную функцию желудочно-кишечного тракта, оказывает мягкое слабительное действие, возбуждает аппетит, уменьшает образование газов в кишечнике. Семя аниса снимает боль и восстанавливает перистальтику при судорожных спазмах кишечника. Анис эффективен при желудочно-кишечных расстройствах на нервной почве.</p>

<p>Оказывает анис противовоспалительное действие на почечную ткань и мочевыводящие органы; растворяет конкременты в почках и мочевом пузыре; купирует колики.</p>

<p>Семя аниса является седативным средством для сердечной мышцы, устраняет тахикардию, мягкое успокаивающее и стимулирующее средство.</p>

<p>Антисептические свойства анисового масла используются в стоматологии, а также введены в некоторые зубные пасты.</p>

<p>Анис используется во всякого рода обезболивающих смесях, особенно при внутренних болях, связанных, например, с менструацией, коликами, способствует увеличению молока у кормящих матерей (недостаточной лактации).</p>

<p>В народной медицине семя аниса используется как потогонное средство при повышении температуры (обладает жаропонижающим действием), а также при женских заболеваниях, воспалении десен, миндалин, потере голоса, ожогах, цинге, диспепсии нервного происхождения, нервной рвоте.</p>

<p>Анис нормализует кровообращение, тонизирует работу сердца, успокаивает, снимает стрессовые и депрессивные состояния, помогает бороться с плаксивостью (у детей) и раздражительностью.</p>

<p>Применяется анис при аэрофагия (заглатывание воздуха), диспепсии нервного происхождения, нервная рвота; мигрени, связанные с нарушением пищеварения; колики у детей; ложная грудная жаба, сердцебиения.</p>

<p> Способ приготовления и применения:</p>

<p>1/2 чайной ложки семени аниса залить 200 гр. кипятка, кипятить в течение 5 минут, настаивать в течение 15 минут, процедить. Пить по 1/3 стакана в теплом виде за 30 минут еды.</p>

<p> Противопоказания: индивидуальная непереносимость, беременность.</p>