<img src='images/4ebe15b85f745.jpg'></img>

<p>выпускается 3 видов, которые отличаются друг от друга концентрацией живицы:<br />
5%-ный бальзам предназначен для внутреннего употребления,<br />
12,5% -ный – используется наружно, в основном для обработки слизистых,<br />
20%-ный бальзам рекомендуется использовать только для наружного применения на кожу.<br />
Для достижения максимальной эффективности действия рекомендуется сочетание внутреннего и наружного применения живичного бальзама.<br />
глубокой древности известна необыкновенная способность расторопши эффективно защищать печень от неблагоприятных воздействий. Жители древней Греции и древнего Египта более 2000 лет назад использовали семена, корни и листья этого растения для лечения печени. В настоящее время лекарственные препараты и БАДы на основе расторопши пятнистой широко применяются во всех развитых странах.<br />
Наиболее ценным производным продуктом расторопши является масло.<br />
Масло расторопши серии &#171;Organic&#187; от компании &#171;Специалист&#187; получено методом холодного отжима. Бережная обработка гарантирует сохранность всех биологически активных веществ без риска их разрушения.<br />
Масло расторопши содержит уникальный комплекс флавоноидов – силимарин. Исследования показали, что силимарин обладает антиоксидантными свойствами и предотвращает повреждения печени, вызываемые&#160; токсинами и лекарствами. Силимарин препятствует проникновению ядовитых веществ и разлагает токсины прежде, чем они начнут оказывать своё пагубное действие на клетки печени. Флавоноиды масла расторопши стимулируют образование белков и фосфолипидов в пораженных клетках печени, ускоряя восстановительные процессы.<br />
Также в состав масла расторопши входят:<br />
мононенасыщенная олеиновая и полиненасыщенные жирные кислоты (ПНЖК), в частности, линолевая и линоленовая кислоты. <br />
фитостеролы – биологически активныевещества, уменьшающие поглощение холестерина организмом, <br />
витамины E, D, K, витамины группы В и каротиноиды (предшественники витамина А), <br />
более десятка микро- и макроэлементов: калий, магний, кальций, марганец, железо, цинк, селен, медь, хром, алюминий, ванадий, бор и др. <br />
Полиненасыщенные жирные кислоты плодов расторопши относятся к эссенциальным кислотам: они не синтезируются нашим организмом, поэтому должны регулярно поступать с пищей. ПНЖК служат основой многих клеточных структур и тканей организма. Одной из наиболее важных их функций является строительство клеточных мембран. Кроме того, эссенциальные жирные кислоты влияют на уровень активности клеток иммунной системы, понижают содержание холестерина в крови.<br />
Регулярный прием масла расторопши рекомендуется:<br />
для профилактики заболеваний и нарушений работы печени; <br />
при длительном приёме лекарственных препаратов; <br />
после перенесённых заболеваний, особенно сопровождавшихся приёмом антибиотиков; <br />
для защиты печени и организма в целом при тяжёлых условиях труда, вредных факторах производства; <br />
людям, проживающим в крупных городах и экологически неблагополучных населённых пунктах; <br />
при язвенной болезни желудка и двенадцатиперстной кишки, при лечении язв, эрозий; <br />
для профилактики заболеваний желудочно-кишечного тракта, улучшения пищеварения; <br />
при нарушении обмена веществ, для профилактики сахарного диабета второго типа; <br />
для профилактики заболеваний сердечно-сосудистой системы; <br />
для профилактики онкологических заболеваний. <br />
Аппликации маслом расторопши используют при заболеваниях полости рта, пародонтозах, стоматитах. После нескольких аппликаций отмечается уплотнение слизистой оболочки, исчезновение кровоточивости, отёка, гиперемии, гноя, уменьшается боль и подвижность зубов. При использовании масла расторопши отмечен выраженный противовоспалительный, эпителизирующий эффект.<br />
Использование в косметологии. При наружном применении жирные кислоты в форме масел легко проникают через кожный барьер и могут непосредственно участвовать в биохимических процессах кожи. Они ускоряют восстановительные процессы в тканях, улучшают состояние кожи и замедляют старение. Содержащиеся в масле холодного отжима фитостеролы, витамин E и его производные увлажняют кожу и повышают ее эластичность. Масло расторопши идеально подходит для чувствительной и поврежденной кожи, а также для кожи, подверженной хроническим воспалительным процессам, псориазу, дерматитам, акне, последствиям сахарного диабета. Оно может использоваться для ухода за нежной детской кожей.<br />
Использование в кулинарии. Масло расторопши имеет едва уловимый аромат и нейтральный вкус, поэтому может применяться для заправки любых салатов и готовых блюд, не изменяя их привычного вкуса. Это особенно подходит консервативным во вкусовых пристрастиях людям, заботящимся о своём здоровье.<br />
Не рекомендуется нагревать выше 50 &#176;C.<br />
&#160;<br />
На Руси льняное масло было известно с давних времен. Его использовали &#160;и в качестве продукта питания, и в качестве эффективного лечебного средства.</p>